#contact {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
} 
  #form {
    position: relative;
    width: 500px;
    margin: 50px auto 100px auto;
  }

  #form h1{
    text-align: center;
  }
  
  #form input {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    
    background: transparent;
    outline: none;
    color: #726659;
    
    border: solid 1px #b3aca7;
    border-bottom: none;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  
  #form input:hover {
    background: rgb(214, 198, 183);
    color: #6d5d51;
  }
  
  #form textarea {
    width: 470px;
    max-width: 470px;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    background: transparent;
    outline: none;
    color: #6d5d51;
    font-size: 0.875em;
    border: solid 1px #b3aca7;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    font-family: "Source Sans Pro", sans-serif;
  }
  
  #form textarea:hover {
    background: rgb(214, 198, 183);
    color: #6d5d51;
  }
  
  #form #submit {
    width: 502px;
    padding: 0;
    margin: -5px 0px 0px 0px;
    font-size: 0.875em;
    color: #b3aca7;
    outline:none;
    cursor: pointer;
    border: solid 1px #b3aca7;
    border-top: none;
  }
  
  #form #submit:hover {
    color: #6d5d51;
  }

  #form p {
      text-align: center;
  }