.footer {
    display: flex;
    font-size: 15px;
    justify-content: center;
}

.footer-links {
    font-size: 20px;
    color: gray;
    margin-left: 10px;
}

.copyright {
    margin-left: 50px;
    color: gray;
}