.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1em;
}

.heading {
    text-align: center;
    text-decoration: underline;
    margin-top: 100px;
}

@media all and (max-width: 768px) {
   .container {
    flex-wrap: wrap;
   }
}

