.list h3 {
    text-align: center;
    background: rgb(55, 120, 182);
    color: white;
    padding: 0.2em;
    border-radius: 5px;
}

.list {
    margin: 20px;
}

li {
    margin: 5px;
    margin-left: 10px;
}

.items {
    align-items: center;
}

@media screen and (min-width: 360px) {
    .list h3 {
        font-size: 1rem;
    }
    .list li {
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 1024px) {
    .list h3 {
      font-size: 1.2rem;
    }
    .list li {
        font-size: 1rem;
    }
}